.tarjeta_amigo {
  --background: #306DA9;
  border-radius: 40px;
  vertical-align: center;
  margin: 20px;
}

ion-content {
  --background: #D3E5E5;
}

#nombre {
    color: #ffffff;
    font-size: 20px;
    margin: 0 auto;
}

img{
    border-radius: 40px;
}
