<ion-content>
  <app-nav-superior></app-nav-superior>
  <app-nav-lateral class="nav-lateral"></app-nav-lateral>

  <ion-grid class="ion-justify-content-center">
    <!-- Carta 1 -->
    <ion-row class="ion-justify-content-center">
      <a href="/ruta/ricardo-ruiperez" style="text-decoration: none;">
        <ion-card color="primary" class="carta responsive-card ion-text-center">
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col size="3" size-md="2">
                  <ion-img src="assets/iconoCasa.png"></ion-img>
                </ion-col>
                <ion-col size="9" size-md="10">
                  <ion-title>Ricardo Ruiperez</ion-title>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </a>
    </ion-row>

    <!-- Carta 2 -->
    <ion-row class="ion-justify-content-center">
      <a href="/ruta/laura-sanchez" style="text-decoration: none;">
        <ion-card color="primary" class="carta responsive-card ion-text-center">
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col size="3" size-md="2">
                  <ion-img src="assets/iconoCasa.png"></ion-img>
                </ion-col>
                <ion-col size="9" size-md="10">
                  <ion-title>Laura Sánchez</ion-title>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </a>
    </ion-row>

    <!-- Carta 3 -->
    <ion-row class="ion-justify-content-center">
      <a href="/ruta/carlos-gomez" style="text-decoration: none;">
        <ion-card color="primary" class="carta responsive-card ion-text-center">
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col size="3" size-md="2">
                  <ion-img src="assets/iconoCasa.png"></ion-img>
                </ion-col>
                <ion-col size="9" size-md="10">
                  <ion-title>Carlos Gómez</ion-title>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </a>
    </ion-row>
  </ion-grid>

  <app-nav-inferior></app-nav-inferior>
</ion-content>
