.fondo {
  background-color: #B3E5E5;
}

.carta {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10%;
  background-color: #B3E5E5;
  border-radius: 2%;
}

body {
  background-color: #471FCD;
  max-height: 100vh; /* Altura máxima de la ventana */
  overflow-y: auto;  /* Habilita el desplazamiento vertical */
}

#icono {
  display: block;
  margin: 0 auto; /* Center the image and add space below */
  width: 500px; /* Adjust the width as needed */}

ion-input {
  background-color: lightblue;
}

#back {
  margin-left: 5%;
  margin-top: 5%;
  width: 10%;
  height: 10%;
}

ion-input {
  width: 90%;
  margin-left: 30px;
  border-radius: 10px;
}


ion-label {
  margin-left: 30px;
}

#registro{
  width: 90%;
  margin-left: 30px;
}



ion-range{
  width: 90%;
  margin-left: 30px;
}

#iniciarSesionBoton{
  width: 90%;
  margin-left: 30px;
}
