<body>
<ion-img src="assets/icon/img.png" id="icono"></ion-img>
<ion-card color="primary" class="carta">
  <ion-card-header>
    <ion-button id="back"><ion-img src="assets/icon/back.png"></ion-img></ion-button>
  </ion-card-header>

  <ion-card-content>
    <ion-label>Correo Electronico: </ion-label>
    <ion-input type="text" placeholder="Introduce su correo electrónico"></ion-input>

    <hr>

    <ion-label>Contraseña </ion-label>
    <ion-input type="text" placeholder="Introduce su contraseña"></ion-input>

    <hr>

    <ion-button id="iniciarSesionBoton" expand="full">Iniciar Sesión</ion-button>

    <hr>
  </ion-card-content>
</ion-card>
</body>
