ion-content {
  --background: #471FCD
}

#grid_principal {
  height: 35%
}

#grid_secundario {
  height: 65%
}

#fila_icono {
  height: 100%;
  margin: 0 auto;
}

#col_icono {
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

#icono {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#col_principal {
  margin: 0 auto
}

#tarjeta_login {
  --background: #D3E5E5;
  padding: 15px;
  border-radius: 25px;
}

ion-label {
  color: #000000
}

ion-input {
  --padding-start: 10px;
  --background: #ffffff;
  --border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 30px
}

ion-button {
  color: #000000;
  --border-radius: 25px;
  margin: 0 auto;
  --background: #5AB7D5
}

#enlace {
  margin: 25px auto 0;
}
