<ion-content class="chat-content">
  <app-nav-superior></app-nav-superior>
  <div class="horizontal-separator"></div>
  <div class="chat-header">
    <h2>{{ friend?.name }}</h2>
  </div>

  <div class="messages-container">
    <div
      *ngFor="let msg of messages"
      [ngClass]="{
        'message-friend': msg.type === 'friend',
        'message-self': msg.type === 'self'
      }"
      class="message"
    >
      {{ msg.content }}
    </div>
  </div>
</ion-content>

<ion-footer class="message-footer">
  <ion-toolbar>
    <ion-input
      [(ngModel)]="newMessage"
      placeholder="Escribe un mensaje"
      (keydown.enter)="sendMessage()"
    ></ion-input>
    <ion-button (click)="sendMessage()">Enviar</ion-button>
  </ion-toolbar>
</ion-footer>
