<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2.4">
          <ion-button fill="clear">
            <ion-img src="assets/icon/iconoPerfil.png" class="small-img"></ion-img>
          </ion-button>
        </ion-col>

        <ion-col size="2.4">
          <ion-button fill="clear">
            <ion-img src="assets/icon/tickets.png" class="small-img"></ion-img>
          </ion-button>
        </ion-col>

        <ion-col size="2.4">
          <ion-button fill="clear">
            <ion-img src="assets/icon/iconoCasa.png" class="small-img"></ion-img>
          </ion-button>
        </ion-col>

        <ion-col size="2.4">
          <ion-button fill="clear">
            <ion-img src="assets/icon/ubicacion.png" class="small-img"></ion-img>
          </ion-button>
        </ion-col>

        <ion-col size="2.4">
          <ion-button fill="clear">
            <ion-img src="assets/icon/internetIcono.png" class="small-img"></ion-img>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
