<ion-menu inert contentId="main-content">
  <ion-content class="ion-padding">
    <ion-menu-toggle style="background-color: #471fcd; height: 100%;">
      <ion-list>
        <!-- Cada icono está en su propio item, distribuidos verticalmente -->
        <ion-item>
          <ion-button fill="clear">
            <ion-img src="assets/icon/iconoPerfil.png" class="small-img"></ion-img>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear">
            <ion-img src="assets/icon/tickets.png" class="small-img"></ion-img>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear">
            <ion-img src="assets/icon/iconoCasa.png" class="small-img"></ion-img>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear">
            <ion-img src="assets/icon/ubicacion.png" class="small-img"></ion-img>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-button fill="clear">
            <ion-img src="assets/icon/internetIcono.png" class="small-img"></ion-img>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar style="background-color: #471fcd;">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button id="iconoHamburguesa" class="small-button top-left-button">
        <ion-img src="assets/icon/iconoHamburguesa.png"></ion-img>
      </ion-button>
    </ion-menu-toggle>
  </ion-content>
</div>
