<body>
<ion-img src="assets/icon/img.png" id="icono"></ion-img>
<ion-card color="primary" class="carta">
  <ion-card-header>
    <ion-button id="back"><ion-img src="assets/icon/back.png"></ion-img></ion-button>
  </ion-card-header>

  <ion-card-content>
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" placeholder="Introduce su nombre"></ion-input>

    <hr>

    <ion-label>Apellidos: </ion-label>
    <ion-input type="text" placeholder="Introduce su Apellido"></ion-input>

    <hr>

    <ion-label>Correo: </ion-label>
    <ion-input type="text" placeholder="Introduce su correo electorinico"></ion-input>

    <hr>

    <ion-label>Contraseña: </ion-label>
    <ion-input type="text" placeholder="Introduce su contraseña"></ion-input>

    <hr>

    <ion-label>Repetir contraseña: </ion-label>
    <ion-input type="text" placeholder="Repite su contraseña"></ion-input>

    <hr>

    <ion-label>DNI: </ion-label>
    <ion-input type="text" placeholder="Introduce su DNI"></ion-input>

    <hr>

    <ion-label>Fecha de Nacimiento: </ion-label>
    <ion-input type="date" value="Fecha de Nacimiento">
      <ion-input-password-toggle></ion-input-password-toggle>
    </ion-input>

    <hr>

    <ion-button id="registro" expand="full">Registrarse</ion-button>

    <hr>

      <ion-label style="padding-left: 190px">¿Eres una empresa?</ion-label>

  </ion-card-content>
</ion-card>
</body>
