<app-nav-superior></app-nav-superior>

<ion-content class="fondo">

    <ion-card id="cartaouter" class="card-outer">
        <ion-card class="card-middle">
            <ion-card class="card-inner">
                <ion-card-header>
                    <ion-label>Escribe tu texto:</ion-label>
                    <ion-textarea [(ngModel)]="publicacion.texto" placeholder="Escribe un texto"></ion-textarea>
                </ion-card-header>

                <ion-card-content>
                    <ion-label>Sube tu foto:</ion-label>
                    <input type="file" (change)="seleccionarFoto($event)" accept="image/*"/>
                </ion-card-content>
                <ion-button (click)="publicar()">Publicar</ion-button>
            </ion-card>
        </ion-card>
    </ion-card>

</ion-content>

<app-nav-inferior></app-nav-inferior>
