ion-content {
  --background: #471fcd;
}

.attendees-card {
  background-color: #306da9;
  color: #ffffff;
  padding: 16px; /* Optional */
  border-radius: 8px; /* Optional */
}

.event-image {
  --background: #306da9;
}
