<ion-content>
  <app-nav-superior></app-nav-superior>

  <ng-container *ngIf="!isLoading; else loading">
    <ng-container *ngIf="event; else error">
      <div class="quien-esta-bubble">
        Quien está por {{ event.title }}
      </div>

      <div class="horizontal-separator"></div>

      <ion-card class="attendees-card">
        <ion-list>
          <ion-item
            *ngFor="let attendee of event.attendees"
            button
            detail="false"
            [routerLink]="['/person-profile', attendee.id]"
            class="attendee-item"
          >
            <ion-avatar slot="start">
              <div class="initial-avatar">{{ getInitial(attendee.id) }}</div>
            </ion-avatar>
            <ion-label>
              <h2>{{ attendee.name }}</h2>
            </ion-label>
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando</p>
  </ng-template>

  <ng-template #error>
    <p>Evento no encontrado.</p>
  </ng-template>
</ion-content>
