<app-nav-superior></app-nav-superior>

<div id="cabecera">Gestión de amigos</div>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-grid>
                    <ion-row *ngFor="let amigo of amigos" class="amigo">
                        <ion-col size="3">
                            <ion-img src="assets/iconoPerfil.png"></ion-img>
                        </ion-col>
                        <ion-col class="col_nombre ion-align-items-center" size="6" (click)="verPerfil(amigo)">
                            <ion-text>{{ amigo.nombre }} {{ amigo.apellidos }}</ion-text>
                        </ion-col>
                        <ion-col class="col_nombre ion-align-items-center" size="3">
                            <ion-img class="boton_eliminar" (click)="eliminarAmigo(amigo.id)" src="assets/iconoEliminar.png"></ion-img>
                        </ion-col>
                    </ion-row>
                    <hr>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<app-nav-inferior></app-nav-inferior>
