#cabecera {
    text-align: center;
    background-color: #306DA9;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 25px;
}

ion-content {
    --background: #D3E5E5;
}

.amigo {
    background-color: #5ab7d5;
    border-top: 2px solid black;
}

ion-grid {
    padding: 0;
}

ion-row {
    margin: 0;
}

ion-col {
    padding: 0;
}

ion-text {
    color: white;
    margin: 0 auto;
}

.col_nombre {
    text-align: center;
    display: flex;
    font-size: 18px;
}

hr {
    height: 2px !important;
    background: black !important;
    display: block !important;
    margin: 0 !important;
}

ion-img {
    margin: 0 auto;
    width: 90%;
}

.boton_eliminar {
    width: 55%;
}
