<app-nav-superior></app-nav-superior>

<ion-content>
    <div style="display: flex; padding: 10px" class="ion-align-items-center ion-justify-content-between">
        <ion-img (click)="verEntradas()" id="icono_entradas" src="assets/icons8-boleto-96.png"></ion-img>
        <ion-searchbar placeholder="Buscar sitios" animated="true" [(ngModel)]="buscar" (ionInput)="onSearchChange($event)"></ion-searchbar>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size-lg="4" size-xl="4" size-md="6" size-sm="10" size-xs="12">
                <div *ngIf="empresasFiltradas.length === 0" style="width: 100%; text-align: center; padding: 20px; color: black">
                    <ion-text style="margin: 0 auto; color: black">Empresas no encontradas...</ion-text>
                </div>
                <ion-card *ngFor="let empresa of empresasFiltradas" (click)="verEventos(empresa.id)">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="5">
                                <img [ngSrc]="getImageUrl(empresa)" class="img_empresa" fill>
                            </ion-col>
                            <ion-col size="7">
                                <ion-grid class="textos">
                                    <ion-row>
                                        <ion-text class="nombre">{{empresa.nombre}}</ion-text>
                                    </ion-row>
                                    <ion-row>
                                        <ion-text class="direccion">{{empresa.direccion}}</ion-text>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<app-nav-inferior></app-nav-inferior>
