<app-nav-superior></app-nav-superior>

<ion-content>
    <ion-searchbar placeholder="Buscar sitios" animated="true"></ion-searchbar>
    <ion-grid>
        <ion-row>
            <ion-col size-lg="4" size-xl="4" size-md="6" size-sm="10" size-xs="12">

                <ion-card (click)="verEventosEmpresa()">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="5">
                                <ion-img src="https://ionicframework.com/docs/img/demos/card-media.png"></ion-img>
                            </ion-col>
                            <ion-col size="7">
                                <ion-grid class="textos">
                                    <ion-row>
                                        <ion-text class="nombre">Rosso by Antique</ion-text>
                                    </ion-row>
                                    <ion-row>
                                        <ion-text class="direccion">C/ Fresa Nº 8</ion-text>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>

                <ion-card (click)="verEventosEmpresa()">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="5">
                                <ion-img src="https://ionicframework.com/docs/img/demos/card-media.png"></ion-img>
                            </ion-col>
                            <ion-col size="7">
                                <ion-grid class="textos">
                                    <ion-row>
                                        <ion-text class="nombre">Maffia The Club</ion-text>
                                    </ion-row>
                                    <ion-row>
                                        <ion-text class="direccion">C/ Calatrava Nº 8</ion-text>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>

                <ion-card (click)="verEventosEmpresa()">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="5">
                                <ion-img src="https://ionicframework.com/docs/img/demos/card-media.png"></ion-img>
                            </ion-col>
                            <ion-col size="7">
                                <ion-grid class="textos">
                                    <ion-row>
                                        <ion-text class="nombre">Occo</ion-text>
                                    </ion-row>
                                    <ion-row>
                                        <ion-text class="direccion">C/ Sevilla Nº 8</ion-text>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<app-nav-inferior></app-nav-inferior>
