ion-content {
    --background: #D3E5E5;
}

ion-searchbar {
    --border-radius: 60px;
    width: 85%;
    margin: 10px auto;
}

ion-card {
    margin: 25px auto;
    --background: #306DA9;
    border-radius: 40px;
}

.img_empresa {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}

ion-col {
    margin: 0 auto;
    text-align: center;
}

ion-text {
    margin: 10px auto;
    color: #ffffff
}

.direccion {
    font-size: 15px;
}

.nombre {
    font-size: 30px;
}

#icono_entradas {
    width: 10%;
    height: 10%;
    margin: 0 auto;
}
