#foto_perfil {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 0;
}

#estrella {
    width: 70%;
    height: 70%;
}


#cardG {
    --background: #ffffff;
    border: 15px solid #471FCD;
    border-radius: 40px;
    margin: 20% auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    box-sizing: border-box;
}


ion-content {
    --background: #D3E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


ion-col {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#card_info,
#card_bio {
    --background: #306DA9;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    margin-bottom: 10px;
}
ion-button {
    --background: #5AB7D5;
    --border-radius: 30px;
    font-size: 10px;
    margin: 0 auto;
}

ion-text {
    color: #ffffff;
}

#nombre {
    font-size: 22px;
    text-align: center;
}

ion-title {
    text-align: center;
    color: white;
    font-size: 25px;
}

div {
    align-content: center;
    padding-bottom: 100px;
}

@media (max-width: 768px) {
    ion-title {
        margin-top: -40px;
    }
    ion-button {
        font-size: 15px;
    }
    ion-text {
        font-size: 17px;
    }
}

@media (min-width: 769px) {
    ion-title {
        margin-top: -40px;
    }
    ion-button {
        font-size: 15px;
    }
    ion-text {
        font-size: 17px;
    }
    #card_info {
        margin: 0 auto;
        margin-top: 5px;
        width: 100%;
        max-width: 420px;
    }
    #cardG {
        margin-top: 20px;
    }
}
