<app-nav-superior></app-nav-superior>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-lg="4" size-xl="4" size-md="6" size-sm="10" size-xs="12">
                <ion-card id="cardG" *ngIf="publicacion; else loading">
                    <ion-card id="card_info">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="4" class="ion-align-items-center">
                                    <ion-img
                                        id="foto_perfil"
                                        [src]="getImageUrl()"
                                        alt="Imagen de la publicación">
                                    </ion-img>
                                </ion-col>
                                <ion-col size="8">
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col class="ion-align-items-center">
                                                <ion-text id="nombre">
                                                    {{ perfilEmpresa?.nombre }}
                                                </ion-text>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                    <ion-card id="card_bio">
                        <ion-title>{{ publicacion.titulo }}</ion-title>
                        <div>
                            <ion-text id="textDescripcion">
                                {{ publicacion.texto }}
                                <hr>
                            </ion-text>
                        </div>
                    </ion-card>
                </ion-card>

                <ng-template #loading>
                    <ion-text>Cargando publicacion</ion-text>
                </ng-template>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<app-nav-inferior></app-nav-inferior>
