<app-nav-superior-empresa></app-nav-superior-empresa>

<ion-content class="fondo">

    <ion-grid id="grid_principal">
        <ion-row id="fila_icono">
            <ion-col size-lg="4" size-xl="4" size-md="4" size-sm="6" size-xs="8" id="col_icono">
                <ion-img id="icono" src="assets/iconoUsuario.png" alt="Icono"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid id="grid_secundario">
        <ion-row>
            <ion-col size-lg="4" size-xl="4" size-md="6" size-sm="8" size-xs="10" id="col_principal">
                <ion-grid>

                    <ion-row>
                        <ion-label>Nombre:</ion-label>
                        <ion-input
                            type="text"
                            [readonly]="!editar"
                            [(ngModel)]="perfilEmpresa.nombre"
                            [placeholder]="!editar ? perfilEmpresa.nombre : ''"
                        ></ion-input>
                    </ion-row>

                    <ion-row>
                        <ion-label>Dirección:</ion-label>
                        <ion-input
                            type="text"
                            [readonly]="!editar"
                            [(ngModel)]="perfilEmpresa.direccion"
                            [placeholder]="!editar ? perfilEmpresa.direccion : ''"
                        ></ion-input>
                    </ion-row>

                    <ion-row>
                        <ion-label>Codigo postal:</ion-label>
                        <ion-input
                            type="text"
                            [readonly]="!editar"
                            [(ngModel)]="perfilEmpresa.cp"
                            [placeholder]="!editar ? perfilEmpresa.cp : ''"
                        ></ion-input>
                    </ion-row>

                    <ion-row>
                        <ion-label>Correo electrónico:</ion-label>
                        <ion-input
                            type="email"
                            [readonly]="!editar"
                            [(ngModel)]="usuario.correo"
                            [placeholder]="!editar ? usuario.correo : ''"
                        ></ion-input>
                    </ion-row>

                    <ion-row>
                        <ion-label>Número de teléfono:</ion-label>
                        <ion-input
                            type="phone"
                            [readonly]="!editar"
                            [(ngModel)]="perfilEmpresa.telefono"
                            [placeholder]="!editar ? perfilEmpresa.telefono : ''"
                        ></ion-input>
                    </ion-row>

                    <ion-row>
                        <ion-label>NIF:</ion-label>
                        <ion-input
                            type="text"
                            [readonly]="!editar"
                            [(ngModel)]="perfilEmpresa.nif"
                            [placeholder]="!editar ? perfilEmpresa.nif : ''"
                        ></ion-input>
                    </ion-row>

                    <ion-row>
                        <ion-label>Foto perfil:</ion-label>
                        <ion-input
                            type="text"
                            [readonly]="!editar"
                            [(ngModel)]="perfilEmpresa.fotoPerfil"
                            [placeholder]="!editar ? perfilEmpresa.fotoPerfil : ''"
                        ></ion-input>
                    </ion-row>

                    <ion-row>
                        <ion-label>Edad mínima:</ion-label>
                        <ion-range
                            min="16"
                            pin="true"
                            [disabled]="!editar"
                            [(ngModel)]="perfilEmpresa.edadMinima"
                        ></ion-range>
                    </ion-row>

                    <ion-row>
                        <ion-label>Valoración mínima:</ion-label>
                        <ion-range
                            min="16"
                            pin="true"
                            [disabled]="!editar"
                            [(ngModel)]="perfilEmpresa.valoracionMinima"
                        ></ion-range>
                    </ion-row>
                    <ion-row>
                        <ion-button (click)="editarBoton()">{{ editar ? 'Guardar' : 'Editar' }}</ion-button>
                    </ion-row>

                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<app-nav-inferior-empresa></app-nav-inferior-empresa>
