<ion-header>
    <ion-toolbar>

      <ion-img class="icono" slot="start" style="width: 55px" src="assets/img.png" alt="Social Party Logo"/>
      <ion-text id="num_estrellas" slot="end" class="star-points">{{ this.perfil.valoracion }}</ion-text>
      <ion-img slot="end" style="width: 40px;" src="assets/estrella.png" alt="Estrella Party Logo" />
      <ion-img (click)="cerrarSesion()" slot="end" style="width: 40px;" src="assets/logout.png" alt="Ajustes Party Logo" />

    </ion-toolbar>
</ion-header>

