<ion-header>
  <ion-toolbar class="custom-toolbar">
    <!-- Icono a la izquierda -->
    <ion-buttons slot="start">
      <ion-avatar>
        <img src="assets/img.png" alt="Social Party Logo" />
      </ion-avatar>
    </ion-buttons>

    <!-- Iconos a la derecha -->
    <ion-buttons slot="end">
      <!-- Contenedor para la estrella y el puntaje -->
      <span class="star-container">
        <img src="assets/estrella.png" id="estrella" alt="Estrella Party Logo" />
        <span class="star-points">100</span>
      </span>
      <!-- Icono de configuración -->
      <ion-icon name="settings-outline" class="settings-icon"></ion-icon>
      <img src="assets/iconoSettings.png" id="iconoSettings" alt="Settings Party Logo" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>
