<ion-menu contentId="main-content">
  <ion-content class="ion-padding" style="--background: #234276;">
    <ion-menu-toggle style="background-color: #471fcd; height: 100%;">
        <ion-grid style="width: 100%;">
            <ion-row>
                <ion-col size="3">
                    <ion-img src="assets/iconoPerfil.png" class="small-img"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3">
                    <ion-img src="assets/tickets.png" class="small-img"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3">
                    <ion-img src="assets/iconoCasa.png" class="small-img"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3">
                    <ion-img src="assets/ubicacion.png" class="small-img"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3">
                    <ion-img src="assets/internetIcono.png" class="small-img"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<div id="main-content" main>
  <ion-header>
    <ion-toolbar>

      <ion-img slot="start" style="width: 55px" src="assets/img.png" alt="Social Party Logo"/>
      <ion-menu-button slot="start"></ion-menu-button>
      <ion-text slot="end" class="star-points">100</ion-text>
      <ion-img slot="end" style="width: 40px;" src="assets/estrella.png" alt="Estrella Party Logo" />
      <ion-img slot="end" style="width: 40px;" src="assets/iconoSettings.png" alt="Ajustes Party Logo" />

    </ion-toolbar>
  </ion-header>
</div>

