<app-nav-superior-admin></app-nav-superior-admin>

<ion-content>
    <ion-grid id="gridGrande">
        <ion-row>
            <ion-col size-lg="4" size-xl="4" size-md="6" size-sm="10" size-xs="12">
                <ion-card id="cardG">
                    <ion-card id="card_bio">
                        <ion-grid>
                            <ion-row style="margin-top: 20px">
                                <ion-col size="2">
                                    <ion-img src="assets/icons8-reloj-50.png"></ion-img>
                                </ion-col>
                                <ion-col size="10" style="display: flex" class="ion-align-items-center">
                                    <ion-text class="contenido" id="baneoTemporal">Banear temporalmente</ion-text>
                                </ion-col>
                            </ion-row>
                            <ion-row style="margin-top: 20px">
                                <ion-col size="2">
                                    <ion-img src="assets/icons8-banear.png"></ion-img>
                                </ion-col>
                                <ion-col size="10" style="display: flex" class="ion-align-items-center">
                                    <ion-text class="contenido">Banear indefinidamente</ion-text>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<app-nav-inferior-admin></app-nav-inferior-admin>
