<ion-header>
    <ion-toolbar>
        <ion-title>Crear Evento</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form (ngSubmit)="crearEvento()">
        <ion-item>
            <ion-label position="floating">Título</ion-label>
            <ion-input [(ngModel)]="titulo" name="titulo" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-input [(ngModel)]="descripcion" name="descripcion" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Fecha</ion-label>
            <ion-datetime
                presentation="date"
                displayFormat="YYYY-MM-DD"
                pickerFormat="YYYY-MM-DD"
                [(ngModel)]="fecha"
                name="fecha"
                required>
            </ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Hora de Apertura</ion-label>
            <ion-datetime
                presentation="time"
                displayFormat="HH:mm"
                pickerFormat="HH:mm"
                [(ngModel)]="horaApertura"
                name="horaApertura"
                required>
            </ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Hora de Finalización</ion-label>
            <ion-datetime
                presentation="time"
                displayFormat="HH:mm"
                pickerFormat="HH:mm"
                [(ngModel)]="horaFinalizacion"
                name="horaFinalizacion"
                required>
            </ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="number" [(ngModel)]="precio" name="precio" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Foto</ion-label>
            <input type="file" (change)="seleccionarFoto($event)" accept="image/*">
        </ion-item>
        <ion-button expand="full" type="submit" class="ion-margin-top">
            Crear Evento
        </ion-button>
    </form>
</ion-content>
