<ion-content>
  <app-nav-superior></app-nav-superior>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="onSearchChange($event)"
    placeholder="Buscar tickets"
    animated="true"
  ></ion-searchbar>
  <div class="ticket-container">
    <ion-card class="ticket-card" *ngFor="let ticket of filteredTickets" [routerLink]="['/comprar', ticket.id]">
      <ion-card-content class="card-content">
        <ion-img [src]="ticket.image" class="ticket-image"></ion-img>
        <div class="ticket-details">
          <h2>{{ ticket.title }}</h2>
          <p>{{ ticket.description }}</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
