
<app-nav-superior-empresa></app-nav-superior-empresa>

<ion-content class="fondo">
    <ion-card class="cardOuter">
    <ion-card class="cardInner">
        <br>
        <ion-title>DATOS DE LA OPERACIÓN</ion-title>
        <hr>
        <ion-card-content>
            <div>
                <ion-label>Importe:</ion-label>
                <ion-label>8,00</ion-label>
            </div>
            <div>
                <ion-label>Comercio:</ion-label>
                <ion-label>Rosso By Antique</ion-label>
            </div>
            <div>
                <ion-label>Fecha: </ion-label>
                <ion-label>28-09-2025</ion-label>
            </div>
        </ion-card-content>
    </ion-card>
    </ion-card>

    <ion-card class="cardOuter">
    <ion-card class="cardInner">
        <br>
        <ion-title>PAGO CON TARJETA</ion-title>
        <hr>
        <ion-card-content>
            <div>
                <ion-input placeholder="Número de tarjeta"></ion-input>
            </div>
            <div>
                <ion-label>Fecha de caducidad:</ion-label>
                <ion-input type="date"></ion-input>
            </div>
            <div>
                <ion-input maxlength="3" placeholder="CVV"></ion-input>
            </div>
        </ion-card-content>

        <ion-button>Confirmar pago</ion-button>
    </ion-card>
    </ion-card>

</ion-content>

<app-nav-inferior-empresa></app-nav-inferior-empresa>
