<app-nav-superior></app-nav-superior>

<ion-content class="fondo">
    <form>
        <ion-card class="cardOuter">
            <ion-card class="cardInner">
                <br>
                <ion-title>DATOS DE LA OPERACIÓN</ion-title>
                <hr>
                <ion-card-content>
                    <div>
                        <ion-label>Importe:</ion-label>
                        <ion-label>{{evento.precio}}€</ion-label>
                    </div>
                    <div>
                        <ion-label>Comercio:</ion-label>
                        <ion-label>{{empresa.nombre}}</ion-label>
                    </div>
                    <div>
                        <ion-label>Fecha:</ion-label>
                        <ion-label>28-09-2025</ion-label>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-card>

        <ion-card class="cardOuter">
            <ion-card class="cardInner">
                <br>
                <ion-title>PAGO CON TARJETA</ion-title>
                <hr>
                <ion-card-content>
                    <div>
                        <ion-input placeholder="Número de tarjeta"></ion-input>
                    </div>
                    <div>
                        <ion-label>Fecha de caducidad:</ion-label>
                        <ion-input type="date"></ion-input>
                    </div>
                    <div>
                        <ion-input maxlength="3" placeholder="CVV"></ion-input>
                    </div>
                </ion-card-content>

                <ion-button (click)="comprarEntrada()">Confirmar pago</ion-button>
            </ion-card>
        </ion-card>
    </form>

</ion-content>

<app-nav-inferior></app-nav-inferior>
