<app-nav-superior></app-nav-superior>

<ion-grid class="grid_menus">
    <ion-row class="fila_menus">
        <ion-col size="2.5" class="menu-lateral">
            <app-nav-lateral style="width: 100%"></app-nav-lateral>
        </ion-col>
        <ion-col class="contenido-principal">
            <ion-content class="fondo">
                <ion-grid>
                    <ion-row>
                        <ion-col id="col_principal" size-lg="6" size-xl="6" size-md="8" size-sm="10" size-xs="12">
                            <ion-card class="cardOuter">
                                <ion-card>
                                    <div class="cont_titulo">
                                        <ion-label>DATOS DE LA OPERACIÓN</ion-label>
                                    </div>
                                    <hr>
                                    <ion-card-content>
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col>
                                                    <ion-grid>
                                                        <ion-row>
                                                            <ion-label>Importe: </ion-label>
                                                        </ion-row>
                                                        <ion-row>
                                                            <ion-label>Comercio: </ion-label>
                                                        </ion-row>
                                                        <ion-row>
                                                            <ion-label>Fecha: </ion-label>
                                                        </ion-row>
                                                    </ion-grid>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-grid>
                                                        <ion-row>
                                                            <ion-label>{{evento.precio}}€</ion-label>
                                                        </ion-row>
                                                        <ion-row>
                                                            <ion-label>{{empresa.nombre}}</ion-label>
                                                        </ion-row>
                                                        <ion-row>
                                                            <ion-label>28-09-2025</ion-label>
                                                        </ion-row>
                                                    </ion-grid>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </ion-card-content>
                                </ion-card>
                            </ion-card>

                            <ion-card class="cardOuter">
                                <ion-card>
                                    <div class="cont_titulo">
                                        <ion-label>PAGO CON TARJETA</ion-label>
                                    </div>
                                    <hr>
                                    <ion-card-content>
                                        <div>
                                            <ion-label>Número de la tarjeta: </ion-label>
                                            <ion-input [(ngModel)]="num_tarjeta" name="num_tarjeta" placeholder="Número de tarjeta" required></ion-input>
                                        </div>
                                        <div>
                                            <ion-label>Fecha de caducidad: </ion-label>
                                            <ion-input [(ngModel)]="fech_tarjeta" name="fech_tarjeta" type="date" required></ion-input>
                                        </div>
                                        <div>
                                            <ion-label>CCV: </ion-label>
                                            <ion-input [(ngModel)]="ccv_tarjeta" name="ccv_tarjeta" maxlength="3" placeholder="CVV" required></ion-input>
                                        </div>
                                    </ion-card-content>

                                    <ion-button (click)="comprarEntrada()">Confirmar pago</ion-button>
                                </ion-card>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-content>
        </ion-col>
        <ion-col size="2.5" class="menu-lateral" style="border-left: 1px solid black">
            <app-amigos></app-amigos>
        </ion-col>
    </ion-row>
</ion-grid>

<app-nav-inferior></app-nav-inferior>

<ion-toast
    id="toastCampos"
    message="Por favor, complete todos los campos obligatorios."
    duration="3000"
    position="top"
    color="danger"
></ion-toast>
