<app-nav-superior></app-nav-superior>

<div id="cabecera">Bandeja de entrada</div>

<ion-content>
    <ion-grid>
        <ion-row *ngFor="let cliente of clientesSolicitudes">
            <ion-col>
                <ion-grid>
                    <ion-row class="solicitud">
                        <ion-col size="3">
                            <ion-img [src]="getImageUrl(cliente)"></ion-img>
                        </ion-col>
                        <ion-col class="col_nombre ion-align-items-center" size="6" (click)="verPerfil(cliente)">
                            <ion-text>{{ cliente.nombre }} {{ cliente.apellidos }}</ion-text>
                        </ion-col>
                        <ion-col class="col_nombre ion-align-items-center" size="1.5">
                            <ion-img (click)="aceptarSolicitud(cliente)" src="assets/icons8-casilla-de-verificación-marcada-50.png"></ion-img>
                        </ion-col>
                        <ion-col class="col_nombre ion-align-items-center" size="1.5">
                            <ion-img (click)="eliminarSolicitud(cliente)" src="assets/icons8-multiplicación-2-30.png"></ion-img>
                        </ion-col>
                    </ion-row>
                    <hr>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<app-nav-inferior></app-nav-inferior>
