.fondo {
    --background: #D3E5E5;
}

#icono {
    width: 50%;
    height: 50%;
    object-fit: cover;
    margin: 0 auto;
}

#col_principal {
    margin: 0 auto
}

input[type="file"]::file-selector-button {
    font-size: 16px;
}

input[type="file"] {
    font-size: 0;
}

ion-button {
    color: #000000;
    --border-radius: 25px;
    margin: 0 auto;
    --background: #5AB7D5
}

ion-input {
    --padding-start: 10px;
    --background: #ffffff;
    --border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 30px
}

ion-textarea {
    --padding-start: 10px;
    --background: #ffffff;
    --border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 30px
}

@media (min-width: 768px) {
    #grid_secundario {
        height: 100%;
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {

    #cartaouter{
        margin: 35px;
    }
}

.card-outer {
    --background: #471FCD;
    margin: 5px auto;
    padding: 5px;
    margin-top: 50px;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    border: 2px solid #000000;
}


.card-middle {
    --background: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    border-radius: 25px;
    border: 2px solid #000000;
}

.card-inner {
    --background: #306DA9;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid #000000;
}

ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ion-card {
    max-width: 400px;
    --background: #471FCD;
    margin: 5px;

}


ion-button {
    --background: #5AB7D5;
    --border-radius: 25px;
    margin: 5px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    color: white;
}

ion-label {
    color: #ffffff;
}
