ion-content {
    --background: #5ab7d5;
    height: 82%;
}

@media (max-width: 768px) {
    ion-content {
        height: 89.5%;
    }
}

.comentario {
    background-color: #FFFFFF;
    border-top: 2px solid black;
    width: 40%;
    margin: 0 auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

@media (max-width: 768px) {
    .comentario {
        background-color: #FFFFFF;
        border-top: 2px solid black;
        width: 100%;
        border-left: 0;
        border-right: 0;
    }
}

ion-grid {
    padding: 0;
}

ion-row {
    margin: 0;
}

ion-col {
    padding: 0;
}

ion-text {
    margin: 0 auto;
}

.col_nombre {
    text-align: center;
    display: flex;
    font-size: 18px;
}

hr {
    height: 2px !important;
    background: black !important;
    display: block !important;
    margin: 0 auto !important;
    width: 40%;
}

@media (max-width: 768px) {
    hr {
        height: 2px !important;
        background: black !important;
        display: block !important;
        margin: 0 !important;
        width: 100%;
    }
}

ion-img {
    margin: 0 auto;
    width: 90%;
}

.texto_comentario {
    font-size: 16px;
}

.fecha_comentario {
    margin-bottom: 10px;
    font-size: 12px;
}

.nombre_comentario {
    margin-top: 10px;
    font-size: 12px;
    float: left;
}

.fila_texto {
    display: inline-block;
    white-space: wrap;
    width: 93%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px
}

ion-input {
    --border-radius: 60px;
    --background: #FFFFFF;
    --padding-start: 10px;
    width: 85%;
    margin: 0 auto;
}

#enviar_mensaje {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

#img_enviar {
    width: 4%;
    margin: 0 30px 0 auto;
    padding: 0;
}

@media (max-width: 768px) {
    #img_enviar {
        width: 8%;
        margin: 0 5px 0 auto;
        padding: 0;
    }
}

.foto_perfil {
    border-radius: 50%;
    overflow: hidden;
    width: 70%;
    height: 70%;
    object-fit: cover;
}
