<app-nav-superior></app-nav-superior>
<ion-content>
    <div class="fondo"></div>
    <div class="banda ion-align-items-center">
        <ion-text id="nombre">José Francisco</ion-text>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="ion-justify-content-between ion-align-items-center div_dia">
                    <hr>
                    <ion-text>Hoy</ion-text>
                    <hr>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div id="receptor">
                    Illoooooo
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div id="emisor">
                    Illoooooo
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="ion-justify-content-between ion-align-items-center" id="enviar_mensaje">
        <ion-input placeholder="Envía un mensaje..."/>
        <ion-img src="assets/iconoEnviar.png"/>
    </div>
</ion-content>
<app-nav-inferior></app-nav-inferior>
