<app-nav-superior></app-nav-superior>
<ion-content>
    <div class="fondo">
        <div id="pregunta">
            ¿Quién está por Rosso by Antique...?
        </div>
    </div>
    <div class="banda"></div>
    <ion-grid>
        <ion-row>
            <ion-col style="margin: 0 auto" size-lg="4" size-xl="4" size-md="6" size-sm="10" size-xs="12">

                <ion-card class="tarjeta_amigo ion-text-center" >
                    <ion-grid>
                        <ion-row>
                            <ion-col size="3">
                                <ion-img src="assets/iconoPerfil.png"></ion-img>
                            </ion-col>
                            <ion-col size="9" class="ion-align-items-center">
                                <ion-text style="color: #ffffff; font-size: 20px">José Francisco</ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>

                <ion-card class="tarjeta_amigo ion-text-center" >
                    <ion-grid>
                        <ion-row>
                            <ion-col size="3">
                                <ion-img src="assets/iconoPerfil.png"></ion-img>
                            </ion-col>
                            <ion-col size="9" class="ion-align-items-center">
                                <ion-text style="color: #ffffff; font-size: 20px">Lucía</ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>

                <ion-card class="tarjeta_amigo ion-text-center" >
                    <ion-grid>
                        <ion-row>
                            <ion-col size="3">
                                <ion-img src="assets/iconoPerfil.png"></ion-img>
                            </ion-col>
                            <ion-col size="9" class="ion-align-items-center">
                                <ion-text style="color: #ffffff; font-size: 20px">Claudia</ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>

                <ion-card class="tarjeta_amigo ion-text-center" >
                    <ion-grid>
                        <ion-row>
                            <ion-col size="3">
                                <ion-img src="assets/iconoPerfil.png"></ion-img>
                            </ion-col>
                            <ion-col size="9" class="ion-align-items-center">
                                <ion-text style="color: #ffffff; font-size: 20px">Vilches</ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>

                <ion-card class="tarjeta_amigo ion-text-center" >
                    <ion-grid>
                        <ion-row>
                            <ion-col size="3">
                                <ion-img src="assets/iconoPerfil.png"></ion-img>
                            </ion-col>
                            <ion-col size="9" class="ion-align-items-center">
                                <ion-text style="color: #ffffff; font-size: 20px">Hector</ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<app-nav-inferior></app-nav-inferior>
