<app-nav-superior></app-nav-superior>

<ion-grid class="grid_menus">
    <ion-row class="fila_menus">

        <ion-col size="3" class="menu-lateral">
            <app-nav-lateral style="width: 100%"></app-nav-lateral>
        </ion-col>

        <ion-col class="contenido-principal">
            <ion-content style="width: 100%; --background: black;">

            </ion-content>
        </ion-col>

        <ion-col size="3" class="menu-lateral">
            <app-amigos style="width: 100%;"></app-amigos>
        </ion-col>

    </ion-row>
</ion-grid>

<app-nav-inferior></app-nav-inferior>
