<app-nav-superior></app-nav-superior>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
                <ion-img id="agregar" (click)="abrirForm()" src="assets/iconoMas.png"></ion-img>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-searchbar
                    placeholder="Buscar publicaciones"
                    animated="true"
                    [(ngModel)]="buscar"
                    (ionInput)="onSearchChange($event)">
                </ion-searchbar>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-lg="4" size-xl="4" size-md="6" size-sm="10" size-xs="12" *ngFor="let publicacion of publicacionesFiltradas">
                <ion-card (click)="verPublicacion(publicacion.id)">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="5">
                                <img [src]="getImageUrl(publicacion)" class="publicacion" alt="Foto Publicacion" />
                            </ion-col>
                            <ion-col size="7">
                                <ion-grid class="textos">
                                    <ion-row>
                                        <ion-text class="nombre">{{ publicacion.titulo }}</ion-text>
                                    </ion-row>
                                    <ion-row>
                                        <ion-text class="direccion">{{ publicacion.texto }}</ion-text>
                                    </ion-row>
                                    <ion-row>
                                        <ion-text class="direccion">{{ publicacion.direccion }}</ion-text>
                                    </ion-row>
                                    <ion-row>
                                        <ion-text class="fecha">{{ publicacion.fecha }} {{ publicacion.hora }}</ion-text>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<app-nav-inferior></app-nav-inferior>
