ion-card{
  --background: #306DA9;
  border-radius: 15px;
  vertical-align: center;
  margin: 20px;

}
ion-label{
  color: white;
}

.imagen{
  width: 100%;
  border-radius: 50px;
}
.fecha{
  --background: #5AB7D5;
}
