.fondo {
    width: 100%;
    height: 20%;
    background-color: #471FCD;
}

.banda {
    background-color: #306DA9;
    height: 10%;
    padding: 1%;
    display: flex;
}

#imagenEmpresa {
    height: 90%;
}

ion-content {
    --background: #D3E5E5;
}
