<app-nav-superior></app-nav-superior>
<ion-content>
    <ion-content class="fondo">
        <img id="imagenEmpresa" [ngSrc]="getImageUrlEmpresa()" fill/>
    </ion-content>
    <div class="banda ion-justify-content-between ion-align-items-center">
        <ion-text style="color: #ffffff; margin: 0 auto">Rosso By Antique</ion-text>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col style="margin: 0 auto" size-lg="4" size-xl="4" size-md="6" size-sm="10" size-xs="12">
                <ion-card *ngFor="let evento of eventos">
                    <ion-grid>
                        <ion-row (click)="verEvento(evento.id)">
                            <ion-col size="5" style="margin: 0 auto">
                                <img class="foto_evento" [ngSrc]="getImageUrl(evento)" fill/>
                            </ion-col>
                            <ion-col size="7">
                                <ion-grid>
                                    <ion-row>
                                        <ion-col>
                                            <div class="info">
                                                <ion-label >{{evento.fecha}}</ion-label>
                                            </div>
                                        </ion-col>
                                        <ion-col>
                                            <div class="info">
                                                <ion-label >{{evento.horaApertura}} - {{evento.horaFinalizacion}}</ion-label>
                                            </div>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col style="display: flex" class="ion-align-items-center">
                                            <ion-label class="nombre_evento">{{evento.titulo}}</ion-label>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<app-nav-inferior></app-nav-inferior>
